.modal-start{
	.modal-content {
		background-color: $tertiary-100;
		background: radial-gradient(ellipse at center,  $tertiary-100 0%, $tertiary 50%, $primary 100%); 
		position: relative;
		&::after{
			content: "";
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: escape-svg(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 100 100'%3E%3Crect fill='#{$primary}' width='100' height='100'/%3E%3Crect x='0' y='0' width='99' height='99' fill-opacity='1.0' fill='#{$tertiary-100}'/%3E%3C/svg%3E"));
			/* https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */
			transform: scale(250%) rotate(30deg);
			mix-blend-mode: lighten;
			filter: opacity(.25);
		}
	}
	.modal-body{
		padding-top: 0;
		padding-bottom: 0;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	} 
	.robot-frame{ 
		height: auto;
		max-height: unset;
		filter: drop-shadow(#{$box-shadow-sm});
		.dialog {
			background-color: transparent;
			box-shadow: none;
			.dialog-text {
				max-height: unset;
				overflow-y: auto;
				line-height: 1.5;
			}
			&::before, &::after {
				display: none;
			}
		}
	}
}

.guide-img{
	margin-top: -6vh;
    position: relative;
    z-index: 1055;
	img{
		max-height: 70vh;
	}
}
.guide-btn{
	margin: 1rem 0;
}
.btn-outline-guide{
	background-color: $white;
}