.index{
	display: flex;
	justify-content: space-around;
	min-height: calc(100vh - (3rem + #{$navbar-brand-padding-y}*2 + #{$navbar-padding-y}*2));
	overflow-x: hidden;
}
.intro-panel{ 
	 .intro-item{  
		 display: flex;
		 justify-content: flex-start;
		 align-items: center;
		 flex-direction: column;
		 padding-top: 1rem;
		 padding-bottom: 1rem;
	}
	.intro-img{ 
		position: relative;
		margin-bottom: .5rem;
		&::before{
			content: "";
			display: block;
			width: 0;
			height: 100%;
			padding-right: (220/282)*100%;
			background-color: $white;
			border-radius: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
			box-shadow: 0 0 25px rgba($primary, .25);
		}
		> img{
			max-height: 25vh;
		}
		.intro-img-title{
			display: block;
			width: (220/282)*100%;
			text-align: center;
			padding: .25rem;
			background-color: $primary;
			color: $white;
			border-radius: $border-radius-lg;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	
	.intro-title{
		color: darken($tertiary, 5%);
		font-size: 1.5rem;
		font-weight: 700;
		letter-spacing: .1em;
		text-shadow: 1px  1px $primary-800, 
					-1px -1px $primary-800, 
					-1px  1px $primary-800, 
					 1px -1px $primary-800,
					 2px  2px $primary,
					 3px  3px $primary,
					 4px  4px $primary;
	}
	.intro-text{
		font-size: .9rem;
		text-shadow: 1px 1px 2px rgba($white, .75);
		text-align: center;
	}
}
.login-panel{ 
	display: flex;
	justify-content: center;
	align-items: center;
	.login-panel-frame{
		background-color: rgba($white, .75);
		border-radius: $border-radius*.5 $border-radius*5 $border-radius*5 $border-radius*5;
		//面板-上平-右洞-下凹-左凹
		-webkit-clip-path: polygon(   0%   0%, 100%   0%, 
									100% calc(100% - 7rem), calc(100% - 1.5rem) calc(100% - 7rem), calc(100% - 1.5rem) calc(100% - 6rem), calc(100% - .5rem) calc(100% - 6rem), calc(100% - .5rem) calc(100% - 7rem), 100% calc(100% - 7rem),
									100% calc(100% - 5.5rem), calc(100% - 1.5rem) calc(100% - 5.5rem), calc(100% - 1.5rem) calc(100% - 4.5rem), calc(100% - .5rem) calc(100% - 4.5rem), calc(100% - .5rem) calc(100% - 5.5rem), 100% calc(100% - 5.5rem),
									100% calc(100% - 4rem), calc(100% - 1.5rem) calc(100% - 4rem), calc(100% - 1.5rem) calc(100% - 3rem), calc(100% - .5rem) calc(100% - 3rem), calc(100% - .5rem) calc(100% - 4rem), 100% calc(100% - 4rem),
									100% 100%,
									 30% 100%,    calc(30% - 1rem) calc(100% - 1rem),    calc(10% + 1rem) calc(100% - 1rem),    10% 100%,		
									  0% 100%);	
				clip-path: polygon(   0%   0%, 100%   0%, 
									100% calc(100% - 7rem), calc(100% - 1.5rem) calc(100% - 7rem), calc(100% - 1.5rem) calc(100% - 6rem), calc(100% - .5rem) calc(100% - 6rem), calc(100% - .5rem) calc(100% - 7rem), 100% calc(100% - 7rem),
									100% calc(100% - 5.5rem), calc(100% - 1.5rem) calc(100% - 5.5rem), calc(100% - 1.5rem) calc(100% - 4.5rem), calc(100% - .5rem) calc(100% - 4.5rem), calc(100% - .5rem) calc(100% - 5.5rem), 100% calc(100% - 5.5rem),
									100% calc(100% - 4rem), calc(100% - 1.5rem) calc(100% - 4rem), calc(100% - 1.5rem) calc(100% - 3rem), calc(100% - .5rem) calc(100% - 3rem), calc(100% - .5rem) calc(100% - 4rem), 100% calc(100% - 4rem),
									100% 100%,
									 30% 100%,    calc(30% - 1rem) calc(100% - 1rem),    calc(10% + 1rem) calc(100% - 1rem),    10% 100%,		
									  0% 100%);
		@media screen and (min-width: 576px) {
		-webkit-clip-path: polygon(   0%   0%, 100%   0%, 
									100% calc(100% - 7rem), calc(100% - 1.5rem) calc(100% - 7rem), calc(100% - 1.5rem) calc(100% - 6rem), calc(100% - .5rem) calc(100% - 6rem), calc(100% - .5rem) calc(100% - 7rem), 100% calc(100% - 7rem),
									100% calc(100% - 5.5rem), calc(100% - 1.5rem) calc(100% - 5.5rem), calc(100% - 1.5rem) calc(100% - 4.5rem), calc(100% - .5rem) calc(100% - 4.5rem), calc(100% - .5rem) calc(100% - 5.5rem), 100% calc(100% - 5.5rem),
									100% calc(100% - 4rem), calc(100% - 1.5rem) calc(100% - 4rem), calc(100% - 1.5rem) calc(100% - 3rem), calc(100% - .5rem) calc(100% - 3rem), calc(100% - .5rem) calc(100% - 4rem), 100% calc(100% - 4rem),
									100% 100%,
									 30% 100%,    calc(30% - 1rem) calc(100% - 1rem),    calc(10% + 1rem) calc(100% - 1rem),    10% 100%,		
									  0% 100%,
									  0% calc(6rem + 30%), 1rem calc(6rem + 30% - 1rem), 1rem calc(6rem + 1rem), 0% 6rem);	
				clip-path: polygon(   0%   0%, 100%   0%, 
									100% calc(100% - 7rem), calc(100% - 1.5rem) calc(100% - 7rem), calc(100% - 1.5rem) calc(100% - 6rem), calc(100% - .5rem) calc(100% - 6rem), calc(100% - .5rem) calc(100% - 7rem), 100% calc(100% - 7rem),
									100% calc(100% - 5.5rem), calc(100% - 1.5rem) calc(100% - 5.5rem), calc(100% - 1.5rem) calc(100% - 4.5rem), calc(100% - .5rem) calc(100% - 4.5rem), calc(100% - .5rem) calc(100% - 5.5rem), 100% calc(100% - 5.5rem),
									100% calc(100% - 4rem), calc(100% - 1.5rem) calc(100% - 4rem), calc(100% - 1.5rem) calc(100% - 3rem), calc(100% - .5rem) calc(100% - 3rem), calc(100% - .5rem) calc(100% - 4rem), 100% calc(100% - 4rem),
									100% 100%,
									 30% 100%,    calc(30% - 1rem) calc(100% - 1rem),    calc(10% + 1rem) calc(100% - 1rem),    10% 100%,		
									  0% 100%,
									  0% calc(6rem + 30%), 1rem calc(6rem + 30% - 1rem), 1rem calc(6rem + 1rem), 0% 6rem);
		}
	}
}

.intro-panel {
  position: relative;
}

.intro-line-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: visible;
}

#intro-line-path {
  stroke: #ff8800;
  stroke-width: 5;
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 2s ease;
}
