@import "menuStyles";
@import "content_blockStyles";
@import "table";
/* ******* ******* ******* ******* ******* ******* ******* */
$test-name: "Default";

$word-color: #524932;
$bgDark-color: #721900;
$bgLight-color: #afa98a;
/* ******* ******* ******* ******* ******* ******* ******* */

.menu{
	@include menuStyles($bg-color: #ebe3da, $word-color: #633e1a, $active-color: #646042);
}
.content_block{
	@include content_blockStyles($floor-color:#efefef);
}
.subtitle {
	color:$word-color;
	background-image:url(../images/#{$test-name}/spot.gif);
}

.table, .table1, .table2{
	@include tableStyles($dark-color: #721900, $light-color: #e5dac6);	
}

/* ******* ******* ******* ******* ******* ******* ******* */

/* ******* ******* ******* ******* ******* ******* ******* */
/*index & news*/
.table-news{
	th{
		border-bottom: 2px solid #9a9a9a;
		padding: 5px;
	}
	td{
		border-bottom: 1px solid #9a9a9a;
		color: #333;
		padding: 5px;
	}
	tr.last td {border-bottom: 2px solid #ac6ca5;}
	a{
		color:#333;
		text-decoration:none;
		cursor:pointer;
		&:hover{
			color:#40955e;
		}
	}
	.goTopIndex{ 
		display: inline-block;
		width: 44px;
		height: 25px;
		background-image: url(../images/goTop.jpg);
		text-indent: 9999px;
		overflow: hidden;
		vertical-align:middle;
	}
}
/* Contact */
/* ------- */
/* Login */
.login, .login2 {
	width: 100%;
	color: #666;
	margin:0px auto;
	
	td {
		height: 40px;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	a{
		color: #666;
		text-decoration: underline;
		&:hover {
			color: #333;
		}
	}
}
.login{
	border:1px solid #ccc; 
	border-top:5px solid #584d47; 
	background-color:#FFF;
	th {
		text-align:right;
		vertical-align: top;
		padding-top:8px;
	}
	.loginError { 
		background-image: url(../images/login_errorX.png), url(../images/login_errorBG.png);
		background-repeat: no-repeat, no-repeat;
		background-position:left 10% center, center center;
		background-size:auto auto, 90% 40px;
		color: #e40100;
		text-indent: 18%;
	}
	.login_textfield{
		width:80%;
		padding:4px 2px;
	}
}
/* Map */
.sitemap {
	display: table;
	margin:0px auto;
	a {
		color: #000;
		text-decoration: none;
		display: block;
		width: 150px;
		text-align: center;
		height: 26px;
		&.sitemap_bg { background-image: url(../images/Default/sitemap_bg.gif);}
	}
	li {
		background-image: url(../images/Default/sitemap_line.gif);
		background-repeat: no-repeat;
		&.sitemap_line {
			background-image: url(../images/Default/sitemap_line.gif);
			background-repeat: no-repeat;
		}
		&.last_line, &:last-child {
			background-position: left bottom;
		}
	}
	li ul li {
		padding-left: 170px;
		margin: 0px;
		padding-bottom: 10px;
	}
	
	.bg01, .bg0z[disabled]:hover { background-position: 0px 0px; }
	.bg01:hover	{ background-position: -150px 0px; }
	
	.bg02, .bg02[disabled]:hover { background-position: 0px -26px; }
	.bg02:hover	{ background-position: -150px -26px; }
	
	.bg03, .bg03[disabled]:hover  { background-position: 0px -52px; }
	.bg03:hover	{ background-position: -150px -52px; }
	
	.bg04,.bg04[disabled]:hover  { background-position: 0px -78px; }
	.bg04:hover	{ background-position: -150px -78px; }	
}
/*news*/
/* -------with index------- */
/*Order*/
.forContract{
	width:85%;
	height:30px;
	overflow:hidden;
	white-space:nowrap; 
	text-overflow:ellipsis;
	display:inline-block;
	margin-bottom:-9px;
	text-indent: 0px;
}
a.contract{
	float:right;
	font-weight:normal;
	text-indent:0px;
	padding:0px 5px;
	font-size:14px;
	border-radius:5px 5px 0px 0px;
	text-decoration:none;
	background-color:#6e6156;
	color:#FFF;
	
	&:hover {
		background-color:#584d47;
		color:#FFF;
	}
}
/*Privacy*/
/* ------- */
/*Process*/
/* ------- */
/*QA*/
.tab{
	ul.tabs {
		background-image: none;
		display: table;
  		margin: 0 auto;
		li {
			width: auto;
			float: left;
			background-image: none;
			margin:0px 5px 10px 5px;
			
			&.active{
				span {
					background-position: right -50px;
					color: #FFF;
					span {
						background-position: left -50px;
						color: #FFF;
					}
				}
			}
		}
	}
	.tab_container{ 
		border-top: 1px solid #999;
		clear: left;
		.tab_content {
			padding:0px 25px;
		}
		
		.qaContent {
			.accordionPart{
				li {
					border-bottom:1px solid #e3e3e3;
					margin: 0px;
					padding:5px 0px;
					background-image: none;
					width: auto;
					.qa_title {
						padding-left: 35px;
						color: #40955e;
						cursor: pointer;
						background-image: url(../images/qa_q.png);
						background-repeat: no-repeat;
						background-position: left top;
						padding-top: 8px;
						padding-bottom: 10px;
						margin-bottom: 0px;
					}
					.qa_title_on {
						text-decoration: underline;
					}
					.qa_content {
						padding-left: 35px;
						color: #666;
						background-image: url(../images/qa_a.png);
						background-repeat: no-repeat;
						background-position: left top;
						margin: 0px;
						padding-top: 4px;
						padding-bottom: 10px;
						line-height: 26px;
					}
				}
			}
		}
		
	}
}
.abgne_tab_tab1, .abgne_tab_tab3 {
	margin-top: 10px;
}
.abgne_tab_tab1 .tabs_tab1, 
.abgne_tab_tab3 .tabs_tab3 {
	width: 120px;
	float: left;
}
.abgne_tab_tab1 .tabs_tab1, 
.abgne_tab_tab3 .tabs_tab3 {
	li{
		margin-bottom: 10px;
		&.active{
			span {
				background-position: right -200px;
				span {
					background-position: left -200px;
				}
			}
		}
	}
}
.abgne_tab_tab1 .tab_container_tab1, 
.abgne_tab_tab3 .tab_container_tab3 {
	float: left;
	width: calc(100% - 120px);
}
/*Register*/
/* ------- */
/*Terms*/
/* ------- */
.icon-download-content a{
	text-decoration:none;
	color:#7B5E3E;
}
.icon-download-content a:hover {
	color:#FC6532;
}
.icon-download-content > img {
	background-color:#7B5E3E;
	vertical-align:middle;
	border-radius:50%;
	padding:5px;
}