@import "reset";
@import "sexybutton";
/* ******* ******* ******* ******* ******* ******* ******* */
html{
	background-color: #d1ccaa;/*s*/
}
body{
	font-family:Arial, Helvetica, sans-serif, "Microsoft JhengHei";
	font-size:16px;
	line-height:1.6em;
}

.wrapper{
	width: 980px;
	height:auto;	
	margin: 0px auto;
	padding-left: 10px;
	padding-right: 10px;	
}
/* ******* ******* ******* ******* ******* ******* ******* */
a{
      outline: none; /* for Firefox Google Chrome  */
      behavior:expression(this.onFocus=this.blur()); /* for IE */
}
a, a:visited{
	color:#0000ff;
}
a:hover, a:active{
	color: #F30;
}
.pull-right {
	float:right;
}
.center-block{
	display:block;
	margin:0px auto;
}
.subtitle {
	font-size:1.1em;
	font-weight: bold;
	background-repeat:no-repeat;
	padding-left:20px;
	background-position:left top 1px;
	margin-top:10px;
}
.circletitle{ 
	border:2px solid;
	border-radius: 50%;
	width:100px;
	height:100px;
	font-size:1.1em;
	margin:5px auto 10px auto;
	text-align:center;
	background-color:#FFF;
	&.color1{ border-color:#1b65a4; color:#1b65a4;}
	&.color2{ border-color:#029b8e; color:#029b8e;}
	&.color3{ border-color:#d87616; color:#d87616;}
	> span{
		display:table-cell;
		vertical-align:middle;
		width:100px;
		height:100px;
	}
}
.for-search{
	margin-bottom:5px;
}
.icon-download{
	background-color:#633e1a;
	display:inline-block;
	margin-left:2px;
	text-align:center;
	border-radius: 2px;
	> img { width:80%; height:80%;}
}
.icon-download-content {
	> img {
		background-color: #633e1a;
		vertical-align: middle;
		border-radius: 2px;
		padding: 5px;
	}
	a{
		text-decoration:none;
		color:#633e1a;
		&:hover {
			color:#721900;
		}
	}
}
.point {
	color: #FC6532;
	font-weight: bold;
}
.red {
	color: #F00
}
.toLeft {
	text-align: left;
}
.toRight {
	text-align: right;
}
.toCenter {
	text-align: center;
}
.toTop{
	vertical-align:top;
}
.toMiddle{
	vertical-align: middle;
}
.toBottom{
	vertical-align: bottom;
}
.Bold {
	font-weight: bold;
}
.Normal {
	font-weight: normal;
}
.BgWhite {
	background-color: #FFF;
}
.BgGray {
	background-color: #F7F6F3;
}
.BgSky {
	background-color: #EEF9FD;
}
.BgBlue {
	background-color: #CFEEFA;
}
.BgYellow {
	background-color: #FF9 ;
}
.noBolderBottom {
	border-bottom: 0px;
}
.noBolderLeft {
	border-left: 0px;
}
.noBolderRight {
	border-right: 0px;
}
.small, small{
	font-size:0.9em;
}
/* ******* ******* ******* ******* ******* ******* ******* */
.head{
	height:40px;
	line-height:40px;
	background-color: #524932;
	font-size:0.9em;
	color:#FFF;
	a {
		color:#FFF;
		text-decoration:none;
		&:hover {
			color:#faed92;
		}
	}
	
	.accountTools-btn{
		position:relative;
		z-index:1000;
		&:hover .accountTools-toggle{
			display:block;
		}
	}
	.accountTools-toggle{
		display:none;
		position:absolute;
		width:113px;
		text-align:center;
		margin-top:-5px;
		background-image:url(../images/forBtnSpace.png);
		background-position:bottom center;
		padding-bottom:5px;
		
		.forBtnSpace{
			height:5px;
			background-image:url(../images/forBtnSpace.png);
			background-position:top center;
		}
		li{
			border-bottom:1px solid #d4a979;
			&:first-child, &:last-child{
				border-bottom:none;
			}
			a {
				color:#824e02;
				text-decoration:none;
				&:hover{
					color: #FC6532;
				}
			}
		}
	}
	/*2018*/
	.headIcon{ 
		display: inline-block;
		width: 24px;
		height: 24px;
		text-indent: -9999px;
		overflow: hidden;
		vertical-align: middle;
		background-image: url(../images/headIcon.png);
		background-repeat: no-repeat;
		&.home{
			background-position: 0px 0px;
			&:hover{
				background-position: 0px -25px;
			}
		}
		&.entrance{
			background-position: -75px 0px;
			&:hover{
				background-position: -75px -25px;
			}
		}
	}
}

.banner{ 
	.wrapper{
		height:160px;
		background-image:url(../images/banner.png);
		background-position:center top;
		background-repeat:no-repeat;
		position:relative;
		
		.welcome{ 
			position: absolute;
			bottom: 30px;
			right: 30px;
			color:#FFF;
			font-weight:bold;
			font-size:1.2em;
			text-shadow:1px 1px 2px rgba(0,0,0,.5);
		}
	}
}

.versionSection{
	background-color: #6d0d95;
	text-align: center;
	.versionSection-img{
		width: 100%;
		max-width: 660px;
		margin: 15px auto;
		display: block;
	}
}

.toolSection{ 
	> .container-fluid{ 
		margin:0px;
		padding:0px;
		
		.nav{
			position:relative;
			> ul > li {
				padding:0px;
				.nav-item{
					height:0;
					padding-bottom:30.833%;
					background-repeat:no-repeat;
					background-size:cover;
					&.aptitude{ background-image:url(../images/nav-TA.jpg);}
					&.interest{ background-image:url(../images/nav-TI.jpg);}
					
					&.aptitude.a{ background-image:url(../images/nav-TA_a.jpg);}
					&.interest.a{ background-image:url(../images/nav-TI_a.jpg);}
					
					&.aptitude.active{ background-image:url(../images/nav-TA_active.jpg);}
					&.interest.active{ background-image:url(../images/nav-TI_active.jpg);}
				}
				.nav-btn{
					display:block;
					width:20.625%;
					height:0;
					padding-bottom:6%;  
					text-indent:-9999px;
					overflow:hidden;
					background-repeat:no-repeat;
					position:absolute;
					background-position:0px 0px;
					background-size:100% auto;
					
					&.nav-TA{
						background-image:url(../images/index/btn-TA.png);
						left:50%;
						top:65%;
						&:hover {
							background-image:url(../images/index/btn-TA_hover.png);
						}
					}
					&.nav-TI{
						background-image:url(../images/index/btn-TI.png);
						right:50%;
						top:65%;
						&:hover {
							background-image:url(../images/index/btn-TI_hover.png);
						}
					}
				}
			}
			
			.btn-float{
				display:block;
				width: 124px;
				height: 109px;
				position: absolute;
				text-indent:-9999px;
				z-index:500;
				overflow:hidden;
				&:hover, &:active, &:focus {
					background-position: 0px -150px;
				}
				&.active{
					background-position: 0px -300px;
				}
				&.SD {
					background-image: url(../images/index/btn-float_SD.png);
					top:calc(100% + 10px);
					right:0px;
					@media screen and (min-width: 1025px) { right:4vw; }
					
				}
			}
		}
	}
}
@media screen and (max-width: 768px) {
.toolSection{ 
	> .container-fluid{ 
		.nav{
			position:relative;
			> ul{
				display: -ms-flexbox; 
    			display: -webkit-flex; 
    			display: flex; 
			}
			> ul > li {
				padding:0px;
				.nav-item{
					height:auto;
					padding-bottom:0px;
					background-image:none;
					background-repeat:no-repeat;
					background-size:cover;
					&.aptitude{ background-image:none;background-color:#0387f3;}
					&.interest{ background-image:none;background-color:#58ba2f;}
					
					&.aptitude.a{ background-image:none;background-color:#0387f3;}
					&.interest.a{ background-image:none;background-color:#58ba2f;}
					
					&.aptitude.active{ background-image:none;background-color:#e2f1f5; a{ color:#333;}}
					&.interest.active{ background-image:none;background-color:#e1f6e3; a{ color:#333;}}
				}
				.nav-btn{
					display:block;
					width:100%;
					height:auto;
					padding-bottom:0px;  
					text-indent:0px;
					overflow:hidden;
					background-repeat:no-repeat;
					position: relative;
					background-image:none;
					background-position:0px 0px;
					background-size:100% auto;
					color:#FFF;
					padding:10px;
					font-size:150%;
					-webkit-flex: 1; 
					-ms-flex: 1; 
					flex: 1; 
					
					&.nav-TA{
						background-image:none;
						left:0;
						top:0;
						&:hover, {
							background-image:none;
							text-decoration:none;
						}
					}
					&.nav-TI{
						background-image:none;
						right:0;
						top:0;
						&:hover {
							background-image:none;
							text-decoration:none;
						}
					}
				}
			}
			
			.btn-float{
				display:block;
				width: 33.33%;
				height: auto;
				position: relative;
				text-indent:0px;
				z-index:500;
				overflow:hidden;
				color:#FFF;
				padding:10px;
				font-size:150%;
				-webkit-flex: 1; 
				-ms-flex: 1; 
				flex: 1; 
				&:hover, &:active, &:focus {
					background-position: 0px -150px;
				}
				&.active{
					background-position: 0px -300px;
					&.SD {background-color:#ebe3da; color:#333; &:hover{background-color:#ebe3da;}}
				}
				&.SD {
					background-image: none;
					background-color:#721900;
					top:calc(100% + 10px);
					right:0px;
					
					&:hover{
						text-decoration:none;
						background-color:#721900;
					}
					@media screen and (min-width: 1025px) { right:0; }
				}
			}
		}
	}
}	
}

.for-menu-position{
	text-align: center;
}

.footer {
	background-color:#d1ccaa;
	padding:15px 0px;
	font-size:14px;
}
.footer .link, 
.footer .copyright {
	border-left: 10px solid #afa98a;
	padding-left:10px;
}


.footer .link,
.footer .link a {
	color:#524932;
	text-decoration:none;
}
.footer .link a:hover,
.footer .link a:active,
.footer .link a:focus {
	text-decoration:underline;
}
.footer .copyright{
	padding-top:10px;
	color:#524932;
	font-size:13px;
	line-height:1.4em;
}
.indexFooter{
	background-color: #d1ccaa;
	color:#524932;
	padding:10px 0px;
	font-size:14px;
	text-align:center;
	border-top: 25px solid #f5f5f5;
}
.top{
	> .container{position:relative;}
	.goTop{
		width:20px;
		height:20px;
		background-image:url(../images/goTop.png);
		background-position:0px 0px;
		
		position:absolute;
		bottom:-100px;
		right:0px;
		cursor:pointer;
		&:hover { 
			background-position:0px -25px;
		}
	}
}


/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
.step {
	background-image: url(../images/step_bg.png);
	background-repeat: no-repeat;
	background-position:center center;
	background-size:100% 100%;
	text-align: center;
	color: #999;
	padding:8px 0px;
	
	margin-bottom:-15px;
}
.step img {
	vertical-align: text-bottom;
}
.step_terms {
	overflow-y: scroll;
	width: 680px;
	height: 265px;
	padding-top: 10px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-left: 40px;
	margin: 5px;
	border: 1px solid #D6D6D6;
	background-color: #FFF;
}


/**/
.pages, .page{
	text-align:center;
	
	 a, input[type=button] {
		padding:2px 5px;
		line-height:18px;
		text-decoration:none;
		
		border:1px solid #666;
		color:#333;/**/
		
		&:hover { cursor:pointer;}
		&:hover,&:active,&:focus { 
			background-color: rgba(112,21,0,.2);
			color:#721900;
			border-color:#721900;
		}
		
		&:disabled, &:disabled:hover, &:disabled:active, &:disabled:focus,
		&[disabled=disabled], &[disabled=disabled]:hover, &[disabled=disabled]:active, &[disabled=disabled]:focus {
			border-color:#d6d6d6;
			color:#d6d6d6;	
			cursor: default;
			background-color: transparent;
		}
		
		&.on, &.on:hover, &.on:active, &.on:focus{ 
			color:#FFF; 
			background-color:#721900;
			border-color:#721900;
		}
	}
	a.goTopIndex{
		border:none;
	}
}

.goTopIndex{ 
	display: inline-block;
	width: 44px;
	height: 25px;
	background-image: url(../images/goTop.jpg);
	text-indent: 9999px;
	overflow: hidden;
	vertical-align:middle;
}

.gotop { 
	text-align:right;
	a { 
		display:inline-block;
		width: 44px;
		height: 25px;
		background-image: url(../images/goTop.jpg);
		text-indent: 9999px;
		overflow:hidden;
		&:hover {
			background-position: 0px -25px;
		}
	}
}
/* ******* ******* ******* ******* ******* ******* ******* */
.deviceRequire{
	> h4 {
		position: relative;
		margin: 0px;
		padding: 0px;
		.subicon { 
			height: 60px;
			width: 60px;
			position: absolute;
			right: 0px;
			top: 0px;
			background-image: url(../images/subicon.png);
			&.subicon01 {background-position: 0px 0px;}
			&.subicon02 {background-position: -60px 0px;}
			&.subicon03 {background-position: -120px 0px;}
			&.subicon04 {background-position: -180px 0px;}
			&.subicon05 {background-position: -240px -60px;}
			&.subicon06 {background-position: -300px -60px;}
			&.subicon07 {background-position: -360px -60px;}
			&.subicon08 {background-position: -420px -60px;}
		}
	}
	
	> p{
		margin: 0px;
		padding: 0px;
		border-bottom:#999 dotted 1px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		padding-left:4em;
	}
}
/* ******* ******* ******* ******* ******* ******* ******* */
/*for bootsrtap*/
input, button, select, textarea {
    line-height: normal;
	font-weight:normal;
}
hr.forGrayBg{    
	border-top: 1px solid #ccc; 
	box-shadow:0px 1px rgba(255,255,255,.75);
}
@media screen and (max-width: 800px) {
.table-responsive { 
	width: 100%;
	border: 1px solid #ddd;
	overflow-x:auto;
	position:relative;
	z-index:1;
	> table {
		width: 970px;
		margin-top:-1px;
		margin-left:-1px;
		z-index:10;
		th, td {&:last-child{ border-right:0;}}
	}
}
}