/* ******* ******* ******* ******* ******* ******* ******* */
.content_block {
  height: auto; }
  .content_block li {
    display: block;
    width: 100%;
    margin-bottom: 20px; }
    .content_block li dl {
      background-color: #FFF; }
      .content_block li dl dt {
        font-size: 120%;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        margin-bottom: 12px;
        position: relative;
        text-indent: 30px;
        background-position: 6px -244px;
        background-repeat: no-repeat;
        background-image: url(../images/Default/UI.png);
        color: #4b3929; }
        .content_block li dl dt:after {
          content: " ";
          width: 100%;
          height: 11px;
          display: block;
          background-image: url(../images/h1Decoration.jpg); }
      .content_block li dl dd {
        line-height: 32px;
        color: #333;
        margin-left: 30px;
        margin-bottom: 10px; }
        .content_block li dl dd.dotted {
          background-image: url(../images/textDotted.jpg); }
        .content_block li dl dd .subtitle {
          color: #e1710d;
          font-size: 1.05em; }

.subMenu {
  margin: -10px -10px 10px -10px;
  color: #FFF;
  text-align: center;
  margin: 0px 0px 10px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999; }
  .subMenu .subMenu-arrow {
    width: 10px;
    height: 10px;
    background-image: url(../images/Default/UI.png);
    background-position: 0px -96px;
    transform: translateX(-50%); }
  .subMenu .subMenu-bg {
    width: 100%; }
    .subMenu .subMenu-bg span {
      display: inline-block;
      background-image: url(../images/Default/UI.png);
      background-position: right -200px;
      background-repeat: no-repeat; }
      .subMenu .subMenu-bg span span {
        background-repeat: no-repeat;
        background-position: 0px -150px;
        padding: 0px 10px;
        height: 25px;
        line-height: 25px; }
  .subMenu a {
    color: #FFF;
    text-decoration: none;
    margin: 0px 4px; }
    .subMenu a:hover, .subMenu a.active {
      color: #fced03; }
  .subMenu.sub1 .subMenu-arrow {
    margin-left: 7.1428571429%; }
  .subMenu.sub1 .subMenu-bg {
    padding-left: 10px; }
  .subMenu.sub2 .subMenu-arrow {
    margin-left: 21.4285714286%; }
  .subMenu.sub2 .subMenu-bg {
    padding-left: 14.2857142857%; }
  .subMenu.sub3 .subMenu-arrow {
    margin-left: 35.7142857143%; }
  .subMenu.sub3 .subMenu-bg {
    padding-left: 28.5714285714%; }
  .subMenu.sub4 .subMenu-arrow {
    margin-left: 50%; }
  .subMenu.sub4 .subMenu-bg {
    padding-left: 42.8571428571%; }
  .subMenu.sub5 .subMenu-arrow {
    margin-left: 64.2857142857%; }
  .subMenu.sub5 .subMenu-bg {
    padding-left: 57.1428571429%; }
  .subMenu.sub6 .subMenu-arrow {
    margin-left: 78.5714285714%; }
  .subMenu.sub6 .subMenu-bg {
    padding-left: 71.4285714286%; }
  .subMenu.sub7 .subMenu-arrow {
    margin-left: 92.8571428571%; }
  .subMenu.sub7 .subMenu-bg {
    padding-left: 85.7142857143%; }

.subsubMenu {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }
  .subsubMenu span {
    margin: 0px 4px;
    display: inline-block;
    background-image: url(../images/Default/UI.png);
    background-position: right -350px;
    background-repeat: repeat-x; }
    .subsubMenu span span {
      margin: 0px;
      background-repeat: no-repeat;
      background-position: 0px -300px;
      padding: 0px 10px;
      height: 24px;
      line-height: 24px; }
  .subsubMenu a {
    color: #4b3929;
    text-decoration: none; }
    .subsubMenu a:hover {
      color: #fced03; }

/* ******* ******* ******* ******* ******* ******* ******* */
/*index & news*/
.table-news th {
  border-bottom: 2px solid #9a9a9a;
  padding: 5px; }
.table-news td {
  border-bottom: 1px solid #9a9a9a;
  color: #333;
  padding: 5px; }
.table-news tr.last td {
  border-bottom: 2px solid #ac6ca5; }
.table-news a {
  color: #333;
  text-decoration: none;
  cursor: pointer; }
  .table-news a:hover {
    color: #40955e; }
.table-news .goTopIndex {
  display: inline-block;
  width: 44px;
  height: 25px;
  background-image: url(../images/goTop.jpg);
  text-indent: 9999px;
  overflow: hidden;
  vertical-align: middle; }

/* Contact */
/* ------- */
/* Login */
#login, #login2 {
  width: 355px;
  color: #666;
  margin: 0px auto; }
  #login td, #login2 td {
    height: 40px;
    padding-bottom: 5px;
    padding-top: 5px; }
  #login a, #login2 a {
    color: #666;
    text-decoration: underline; }
    #login a:hover, #login2 a:hover {
      color: #333; }

#login th {
  text-align: right;
  vertical-align: top;
  padding-top: 8px; }
#login .loginError {
  background-image: url(../images/login_errorBG.gif);
  background-repeat: no-repeat;
  background-position: center;
  color: #e40100;
  text-indent: 65px; }

/* Map */
.mapTable1, .mapTable2 {
  color: #333; }
  .mapTable1 th, .mapTable1 td, .mapTable2 th, .mapTable2 td {
    line-height: 26px; }

.mapTable1 td {
  background: url(../images/spot.gif) no-repeat 0px 7px;
  padding-left: 18px; }
.mapTable1 a {
  color: #993300;
  text-decoration: none; }
  .mapTable1 a:hover {
    color: #40955e; }

.mapTable2 th {
  background: url(../images/spot2.gif) no-repeat 2px -2px;
  border: 1px solid #CCC;
  padding-left: 5px;
  font-weight: normal;
  text-align: left;
  padding-left: 18px; }
  .mapTable2 th.branch {
    background-image: url(../images/spot2Branch.gif); }
.mapTable2 td {
  background-image: none;
  padding-left: 18px; }
  .mapTable2 td.line {
    border: 1px solid #CCC;
    background-image: url(../images/line.gif);
    background-repeat: no-repeat;
    background-position: 2px; }
    .mapTable2 td.line a {
      color: #cf6a4e; }
      .mapTable2 td.line a:hover {
        color: #40955e; }
    .mapTable2 td.line.lineEnd {
      background-image: url(../images/lineEnd.gif); }

/*news*/
/* -------with index------- */
/*Order*/
.forContract {
  width: 85%;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  margin-bottom: -9px;
  text-indent: 0px; }

a.contract {
  float: right;
  font-weight: normal;
  text-indent: 0px;
  padding: 0px 5px;
  font-size: 14px;
  border-radius: 5px 5px 0px 0px;
  text-decoration: none;
  background-color: #6e6156;
  color: #FFF; }
  a.contract:hover {
    background-color: #584d47;
    color: #FFF; }

/*Privacy*/
/* ------- */
/*Process*/
/* ------- */
/*QA*/
.tab ul.tabs {
  background-image: none;
  display: table;
  margin: 0 auto; }
  .tab ul.tabs li {
    width: auto;
    float: left;
    background-image: none;
    margin: 0px 5px 10px 5px; }
    .tab ul.tabs li.active span {
      background-position: right -50px;
      color: #FFF; }
      .tab ul.tabs li.active span span {
        background-position: left -50px;
        color: #FFF; }
.tab .tab_container {
  border-top: 1px solid #999;
  clear: left; }
  .tab .tab_container .tab_content {
    padding: 0px 25px; }
  .tab .tab_container .qaContent .accordionPart li {
    border-bottom: 1px solid #e3e3e3;
    margin: 0px;
    padding: 5px 0px;
    background-image: none;
    width: auto; }
    .tab .tab_container .qaContent .accordionPart li .qa_title {
      padding-left: 35px;
      color: #40955e;
      cursor: pointer;
      background-image: url(../images/qa_q.jpg);
      background-repeat: no-repeat;
      background-position: left top;
      padding-top: 8px;
      padding-bottom: 10px;
      margin-bottom: 0px; }
    .tab .tab_container .qaContent .accordionPart li .qa_title_on {
      text-decoration: underline; }
    .tab .tab_container .qaContent .accordionPart li .qa_content {
      padding-left: 35px;
      color: #666;
      background-image: url(../images/qa_a.jpg);
      background-repeat: no-repeat;
      background-position: left top;
      margin: 0px;
      padding-top: 4px;
      padding-bottom: 10px;
      line-height: 26px; }

.abgne_tab_tab1, .abgne_tab_tab3 {
  margin-top: 10px; }

.abgne_tab_tab1 .tabs_tab1,
.abgne_tab_tab3 .tabs_tab3 {
  width: 120px;
  float: left; }

.abgne_tab_tab1 .tabs_tab1 li,
.abgne_tab_tab3 .tabs_tab3 li {
  margin-bottom: 10px; }
  .abgne_tab_tab1 .tabs_tab1 li.active span,
  .abgne_tab_tab3 .tabs_tab3 li.active span {
    background-position: right -200px; }
    .abgne_tab_tab1 .tabs_tab1 li.active span span,
    .abgne_tab_tab3 .tabs_tab3 li.active span span {
      background-position: left -200px; }

.abgne_tab_tab1 .tab_container_tab1,
.abgne_tab_tab3 .tab_container_tab3 {
  float: left;
  width: calc(100% - 120px); }

/*Register*/
/* ------- */
/*Terms*/
/* ------- */
.icon-download-content a {
  text-decoration: none;
  color: #7B5E3E; }

.icon-download-content a:hover {
  color: #FC6532; }

.icon-download-content > img {
  background-color: #7B5E3E;
  vertical-align: middle;
  border-radius: 50%;
  padding: 5px; }
