/* ******* ******* ******* ******* ******* ******* ******* */
ul.menu {
  background-image: url(../images/TI/UI.png);
  width: 100%;
  height: 70px;
  padding-left: 1px;
  padding-right: 1px; }
  ul.menu li {
    background-color: transparent;
    width: 134px;
    height: 100%;
    float: left;
    text-indent: -9999px;
    overflow: hidden;
    border-bottom: 4px solid #aaa7a7; }
    ul.menu li:hover, ul.menu li:active, ul.menu li.active {
      border-bottom-color: #27a078; }
    ul.menu li a {
      display: block;
      width: 100%;
      height: 100%; }

.subMenu {
  margin: -10px -10px 10px -10px;
  color: #FFF; }
  .subMenu .subMenu-arrow {
    width: 10px;
    height: 10px;
    background-image: url(../images/TI/UI.png);
    background-position: 0px -96px; }
  .subMenu .subMenu-bg {
    width: 100%; }
    .subMenu .subMenu-bg span {
      display: inline-block;
      background-image: url(../images/TI/UI.png);
      background-position: right -200px;
      background-repeat: no-repeat; }
      .subMenu .subMenu-bg span span {
        background-repeat: no-repeat;
        background-position: 0px -150px;
        padding: 0px 10px;
        height: 25px;
        line-height: 25px; }
  .subMenu a {
    color: #FFF;
    text-decoration: none;
    margin: 0px 4px; }
    .subMenu a:hover, .subMenu a.active {
      color: #fced03; }
  .subMenu.sub1 .subMenu-arrow {
    margin-left: calc(938px/7*1 - 938px/7/2 - 10px/2); }
  .subMenu.sub1 .subMenu-bg {
    padding-left: 10px; }
  .subMenu.sub2 .subMenu-arrow {
    margin-left: calc(938px/7*2 - 938px/7/2 - 10px/2); }
  .subMenu.sub2 .subMenu-bg {
    padding-left: calc(938px/7*1); }
  .subMenu.sub3 .subMenu-arrow {
    margin-left: calc(938px/7*3 - 938px/7/2 - 10px/2); }
  .subMenu.sub3 .subMenu-bg {
    padding-left: calc(938px/7*2); }
  .subMenu.sub4 .subMenu-arrow {
    margin-left: calc(938px/7*4 - 938px/7/2 - 10px/2); }
  .subMenu.sub4 .subMenu-bg {
    padding-left: calc(938px/7*3); }
  .subMenu.sub5 .subMenu-arrow {
    margin-left: calc(938px/7*5 - 938px/7/2 - 10px/2); }
  .subMenu.sub5 .subMenu-bg {
    padding-left: calc(938px/7*4); }
  .subMenu.sub6 .subMenu-arrow {
    margin-left: calc(938px/7*6 - 938px/7/2 - 10px/2); }
  .subMenu.sub6 .subMenu-bg {
    padding-left: calc(938px/7*5); }
  .subMenu.sub7 .subMenu-arrow {
    margin-left: calc(938px/7*7 - 938px/7/2 - 10px/2); }
  .subMenu.sub7 .subMenu-bg {
    padding-left: calc(938px/7*6); }
  .subMenu.sub6 .subMenu-bg {
    padding-left: 0;
    text-align: right;
    padding-right: 10px; }

.subsubMenu {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }
  .subsubMenu span {
    margin: 0px 4px;
    display: inline-block;
    background-image: url(../images/TI/UI.png);
    background-position: right -350px;
    background-repeat: repeat-x; }
    .subsubMenu span span {
      margin: 0px;
      background-repeat: no-repeat;
      background-position: 0px -300px;
      padding: 0px 10px;
      height: 24px;
      line-height: 24px; }
  .subsubMenu a {
    color: #04634B;
    text-decoration: none; }
    .subsubMenu a:hover {
      color: #fced03; }

.step > .sexybutton span {
  background-image: url(../images/TI/UI.png);
  background-position: right -200px; }
.step > .sexybutton span span {
  background-image: url(../images/TI/UI.png);
  background-position: left -150px;
  color: #FFF; }
.step > .sexybutton:hover span span, .step .sexybutton.active span span {
  color: #fced03; }

.content_block {
  height: auto; }
  .content_block li {
    display: block;
    width: 100%;
    margin-bottom: 20px; }
    .content_block li dl {
      background-color: #FFF; }
      .content_block li dl dt {
        font-size: 120%;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        margin-bottom: 12px;
        position: relative;
        text-indent: 30px;
        background-position: 6px -244px;
        background-repeat: no-repeat;
        background-image: url(../images/TI/UI.png);
        color: #04684f; }
        .content_block li dl dt:after {
          content: " ";
          width: 100%;
          height: 11px;
          display: block;
          background-image: url(../images/h1Decoration.jpg); }
      .content_block li dl dd {
        line-height: 32px;
        color: #333;
        margin-left: 30px;
        margin-bottom: 10px; }
        .content_block li dl dd.dotted {
          background-image: url(../images/textDotted.jpg); }
        .content_block li dl dd .subtitle {
          color: #398006;
          font-size: 1.05em; }

/*# sourceMappingURL=TI.css.map */
