//使用客製化bs參數及bs參數
@import "bootstrap-5.3.3/scss/functions";
@import "bootstrap-5.3.3/variables-custom";
@import "bootstrap-5.3.3/scss/maps";
@import "bootstrap-5.3.3/scss/mixins";
@import "bootstrap-5.3.3/scss/utilities";

@import "modules/var"; 
 
@import "master/header";   
@import "master/footer";
@import "master/main";

@import "modules/animate"; 
@import "modules/back-to-top"; 
@import "modules/academic";   
@import "modules/metrics";   
@import "modules/mend-bs"; 
@import "modules/page-header"; 
@import "modules/spinner"; 
@import "modules/UI"; 

@import "modules/exam-item"; 
@import "modules/user"; 


@import "pages/index"; 
@import "pages/apply"; 
@import "pages/download"; 



