$TA-color:		   #0039ac;
$TA-light-color: #00bbff;

$TA-A-color : #3B88C9; //美感
$TA-C-color : #B4D349; //創意
$TA-L-color : #EF8AA0; //語文
$TA-LR-color: #00A8C6; //邏輯推理
$TA-M-color : #FACB00; //數學
$TA-O-color : #9072B1; //觀察
$TA-S-color : #00AE86; //空間
$TA-SR-color: #F39800; //科學推理

@mixin TAsymbolStyles($color) {
  //.TA-symbol{
  min-width: 6rem;
  min-height: 6rem;
  border-radius: 100%;
  color: $white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-base;
  font-weight: 500;
	background-color:$color;
 // background: linear-gradient(to bottom, lighten($color, 20%) 0%, shade-color($color, 20%) 100%);
	border: .25rem solid $white;
	box-shadow: 0 0 .75rem rgba($black, .25);
	position: relative;
	text-shadow: 1px 1px rgba($black, .25), 2px 2px rgba($black, .25);
	&::before{
		content: "";
		display: block;
		width: calc(100% - .5rem);
		height: calc(100% - .5rem);
		border-radius: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 1px dashed $white;
	}
}
//美感
.TA-symbol.A {
  @include TAsymbolStyles($TA-A-color);
}
//創意
.TA-symbol.C {
  @include TAsymbolStyles($TA-C-color);
}
//語文
.TA-symbol.L {
  @include TAsymbolStyles($TA-L-color);
}
//邏輯推理
.TA-symbol.LR {
  @include TAsymbolStyles($TA-LR-color);
}
//數學
.TA-symbol.M {
  @include TAsymbolStyles($TA-M-color);
}
//觀察
.TA-symbol.O {
  @include TAsymbolStyles($TA-O-color);
}
//空間
.TA-symbol.S {
  @include TAsymbolStyles($TA-S-color);
}
//科學推理
.TA-symbol.SR {
  @include TAsymbolStyles($TA-SR-color);
}