.about{
	.page-header{
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;	
		nav[aria-label="breadcrumb"]{
			border-bottom: 1px solid $white;
		}
	}
	.about-intro{
		
	}
	.about-help{
		
	}
	.about-contact{
		
	}
}
