.explore-intro{
	background: linear-gradient(rgba($white, 0) 0%, rgba($white, .5) 100%);
	.explore-intro-frame{
		background-color: mix($secondary, $black, 25%);
		border: 1px solid $info-200;
		box-shadow: $box-shadow-sm;
		padding: .5rem;
		position: relative;
		&::before{
			content: "";
			display: block;
			width: 2rem;
			height: 2rem;
			border-top: 4px solid $info;
			border-left: 4px solid $info;
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(calc(-.5rem - 4px), calc(-.5rem - 4px));
		}
		&::after{
			content: "";
			display: block;
			width: 2rem;
			height: 2rem;
			border-bottom: 4px solid $info;
			border-right: 4px solid $info;
			position: absolute;
			bottom: 0;
			right: 0;
			transform: translate(calc(.5rem + 4px), calc(.5rem + 4px));
		}
	}
	.explore-intro-item{
		text-align: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
		position: relative;
		font-family: $font-family-monospace;
		font-size: $font-size-sm;
		color: $info;
		&:not(:first-child)::before{
			content: "";
			display: block;
			width: 1px;
			height: 90%;
			position: absolute;
			top: 50%;
			left: $grid-gutter-width;
			transform: translateY(-50%);
			background-color: rgba($info, .25);
		}
		strong{
			color: $white;
			text-shadow: 0 0 .5rem rgba($info, .5);
			font-size: 3rem;
			font-weight: 900;
			margin-right: .5rem;
			line-height: 1;
			display: block;
		}
		a{
			color: $info;
			&:hover{
				filter: brightness(1.2);				
			}
		}
	}
}

.explore-card{
	background-color: rgba($white, .5);
	.explore-card-remark{
		text-align: right;
		margin-bottom: 1.5rem;
		font-size: $font-size-sm;
		color: $body-secondary-color;
		.explore-badge{
			margin-right: .25rem;
		}
	}
	.card{
		background-color: transparent;
		border-color: transparent;
		.card-body{
			background-color: rgba(var(--bs-body-bg-rgb), .75);
			clip-path: polygon(2rem 0%, 100% 0%, 100% 100%, 0% 100%, 0 2rem);
			border: 1px solid $border-color;
			.card-title {
				color: $secondary;
				font-size: $h5-font-size;
				font-weight: 600;
				padding: 0 $card-spacer-x $card-spacer-y $card-spacer-x;
				border-bottom: 1px solid rgba($border-color, .5);
				&::before{
					content: "";
					display: inline-block;
					width: .5rem;
					height: .5rem;
					background-color: $primary;
					border-radius: 100%;
					box-shadow: 0 0 .5rem $primary;
					margin-right: .5rem;
					vertical-align: middle;
				}
			}
		}	
		.list-group{
			--bs-list-group-color: var(--bs-body-secondarycolor);
			--bs-list-group-border-color: transparent;
			.list-group-item{
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-color: transparent;
				text-decoration: none;
				border-radius: $border-radius;
				.explore-card-title{
					color: $body-secondary-color;	
					margin-right: auto;
				}
				.explore-badge{
					margin-left: .25rem;
				}
			}
			.list-group-item:hover{
				&::before{
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					background-color: $tertiary;
					position: absolute;
					top:0;
					left: 0;
					z-index: -1;
					animation: scanWidth .5s linear;
				}
				.explore-card-title{
					font-weight: 600;
				}
			}
		}
	}
	.card:hover{
		@extend .futuristic-shadow;
		.card-body{
			background-color: rgba(var(--bs-body-bg-rgb), 1);
			transform: translateY(-.75rem);
			transition: $transition-base;
			.card-title {
				&::before{
					animation: spotFadeIn .5s linear alternate infinite;
				}
			}
		}
	}
}

.explore-badge{
	border-radius: $border-radius-sm;
	color: $white;
	display: inline-block;
	font-size: .65rem;
  font-weight: 600;
	text-shadow: 1px  1px 1px rgba($black, .1),
							-1px -1px 1px rgba($black, .1),
							-1px  1px 1px rgba($black, .1),
							 1px -1px 1px rgba($black, .1);
	line-height: 1;
	padding: .325em .325em;
	vertical-align: middle;
	&.VS{
		background-color: $primary;
	}
	&.JC{
		background-color: $secondary;
	}
}


.explore-guide{
	position: relative;
	padding: 1rem;
	margin: .75rem 0;
	.guide-timeline{
		position: absolute;
		z-index: 0;
		top: 0;
		left: 1rem + 2.5rem*.5;
		bottom: 0;
		width: 2px;
		background-color: $gray-300;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: var(--line-height, 0%);
			background: linear-gradient(to bottom, $primary, $info);
			transition: height 0.3s ease-out;
		}
	}
	.guide-step{
		position: relative;
		z-index: 1;
		display: flex;
		align-items: flex-start;
    gap: map-get($spacers, 4);
		&:not(:last-child){
			margin-bottom: map-get($spacers, 5);	
		}
		.step-num{
			display: flex;
			flex-shrink: 0;
			align-items: center;
			justify-content: center;
			background-color: $primary;
			border-radius: 100%;
			color: $white;
			font-family: $font-family-monospace;
			font-weight: 600;
			width: 2.5rem;
			height: 2.5rem;
		}
		.step-content{
			.step-card{
				--bs-card-border-radius: 0;
				.card-img{
					position: relative;
					width: 100%;
					height: 100%;
					> img{
							width: 100%;
					height: 100%;	
					}
					&:after{
						content: "";
						display: block;
						width: 100%;
						height: 2px;
						background: linear-gradient(to right, transparent, $cyan, transparent);
						position: absolute;
						top: -2px;
						left: 0;
						opacity: 0;
					}
				}
				.card-title{
					color: $secondary;
					font-weight: 800;
					font-size: 1.125rem;
					border-left: .25rem solid $primary;
					padding-left: .5rem;
				}
				.card-text{
					color: $body-secondary-color;
					line-height: $line-height-lg;
					font-size: .9rem;
				}
			}	
		}
	}
	.guide-step:hover{
		.step-num{
			transform: scale(1.15);
			&::after {
				content: "";
				position: absolute;
				inset: -4px;
				border-radius: 50%;
				border: 2px solid $primary;
				box-shadow: 0 0 .75rem rgba($primary, 0.5);
				animation: pulse-ring 1.5s infinite;	
			}
		}
		.step-content{
			.step-card{
				--bs-card-border-radius: 0;
				--bs-card-border-color: var(--bs-primary);
				--bs-card-bg: rgba(var(--bs-tertiary-rgb), .1);
				transform: translateX(.5rem);
				transition: $transition-base;
				box-shadow: $box-shadow-sm;
				.card-img{
					&:after{
						opacity: 1;
						animation: scanMove 2.5s linear infinite;
					}
				}
			}	
		}
	}
}


