.news-nav{
	.nav-item{
		
	}
	.nav-link{
		font-size: $font-size-lg;
		&.active{
			color: $primary;
			position: relative;
			&::before{
				content: "";
				display: block;
				width: 50%;
				height: 2px;
				background: -webkit-linear-gradient(left,     $primary 0%, $tertiary 100%);
				background:      -o-linear-gradient(left,     $primary 0%, $tertiary 100%);
				background:         linear-gradient(to right, $primary 0%, $tertiary 100%); 
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
		
	}
}

.news-badge{
	font-weight: 400;
	margin-right: .5rem;
	border-radius: 0;
	clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
	flex: 0 0 auto;
	&.sys{
		background-color: $secondary;	
	}
	&.act{
		background-color: $primary;
	}
}
.news-date{ 
	color: $body-secondary-color;
	font-size: $h8-font-size;
	font-family: $font-family-monospace;
}

.news-list{
	margin-bottom: 1rem;
	.list-group-item{//a
		border-color: transparent;
		border-bottom-color: $border-color;
		border-radius: 0;
		padding: $list-group-item-padding-y*2 $list-group-item-padding-x;
		clip-path: polygon(0% 0%, 100% 0%, calc(100% - 1rem) 100%, 0% 100%);
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		&::before{
			content: "";
			display: block;
			width: 4px;
			height: 60%;
			background-color: $primary;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			opacity: 0;
			left: .5rem;
		}
		.news-title{
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			flex: 1;
		}
		.news-date{
			margin-left: .5rem;
		}	
	}
	.list-group-item:hover{
		font-weight: 500;
		text-decoration: none;
		background-color: #fff; 
		border-color: $border-color;
		transform: translateX(1.5rem) scale(1.05);
		box-shadow: $box-shadow-sm;
		&::before{
			opacity: 1;
			left: 0;
		}
		.news-date{ 
			font-weight: 400;
		}
	}
}

//news.html、newsContent.html
.news{
	.page-header{ /*border: 1px solid red;*/
		&::before, &::after{
			content: "";
			display: block;
			width: 100%;
			height: 100%;	
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
		}
		&::before{background-color: rgba(255,0,4,.1);
			display: none;
			background-image: url("../img/news/page-header-star.png");	
			background-position: center left 10%;
			background-repeat: no-repeat;
			background-size: 30% auto;
		}
		&::after{background-color: rgba(255,0,255,.1);
			top: auto;
			bottom: -9%;
			background-image: url("../img/news/page-header-IP.png");	
			background-position: bottom right 10%;
			background-repeat: no-repeat;
			background-size: 50% auto;
		}

		.page-header-title, h2{
			position: relative;
			z-index: 2;
			text-align: left;
			margin-top: -1.5rem;
		}
		.breadcrumb{
			justify-content: flex-start;
		}
	
	}
	@media screen and (min-width: 576px) {
	&::before{
		display: block;
		background-position: center left 10%;
		background-size: 30% auto;
	}
	&::after{
		background-position: bottom right 10%;
		background-size: 30% auto;
	}	
	.page-header{
		.page-header-title, h2{
			text-align: center;	
			margin-top: 0;
		}
		.breadcrumb{
			justify-content: center;	
		}
	}		
}
}

//newsContent.html
.news-content{
	.news-title{
		line-height: $line-height-base;
	}
	.news-date{
		margin-top: -1.5rem; 
		text-align: right;
	}
}



