footer{
    .infomation{
		background-color: rgba(#fff, .75);
		font-size: .85rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		-webkit-clip-path: polygon(2rem 0%, calc(100% - 2rem) 0%, 100% 2rem, 100% 100%, 0 100%, 0% 2rem);
		clip-path: polygon(2rem 0%, calc(100% - 2rem) 0%, 100% 2rem, 100% 100%, 0 100%, 0% 2rem);
		
		.logo{
			margin-bottom: 1.5rem;
		}
		.infomation-data{
			padding-left: 9.5%;
			margin-bottom: 1.5rem;
			p{
				margin-bottom: .25rem;	
			}
		}
		.infomation-nav{
			margin-top: .75rem;
			margin-bottom: .75rem;
			a{
				color: #fff;
				font-size: 1rem;
				text-align: left;
				&:hover, &:focus, &:active{
					color: $tertiary;
				}
			}	
		}
		.infomation-link{
			font-size: 1rem;
			display: flex;
    		align-items: center;
			padding-left: $nav-link-padding-x;
			margin-bottom: 1.5rem;
			a{
				display: inline-block;
				width: 10rem;
				height: auto;
				margin-left: 1rem;
				border-radius: .5rem;
				overflow: hidden;
			}
		}
    }
    .copyright{
		background-color: rgba(#fff, .75);
		border-top: 1px solid rgba($body-color, .5);
		color: $body-color;
		font-size: .85rem;
		padding-top: .75rem;
		padding-bottom: .75rem;
		a{
			margin-right: 1rem;
		}
    }    
	
}
